/**************************************************************************************************************************
                        Bootstrap responsive grid Media queries
*************************************************************************************************************************/

@media (min-width: 1200px) and (max-width: 1204px) {

    /*Events 02 fixed*/
    .rtext p {
        font-size: 11px;        
        line-height: 20px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .rtext p {        
        line-height: 15px;
        font-size: 9px;
    }
    .rtext h3 {
        font-size: 20px;
        margin: 0;
        line-height: 5px;
    }
    .rtext h1 {
        line-height: 0;
        font-size: 1px;
        margin: 0 0 10px 0;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
   

    
}

@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {
    
}