*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
.fill-height {
    min-height: 100%;
    height: 100%; /* cross-browser */
}
.testclass {
    background-color: rgba(0, 1, 10, 0.582);
    background-blend-mode: overlay;
}
.form-left {    
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(/client/img/creators-collective-aSBqqUn2IFM-unsplash.jpg);
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

.form-right{
    padding: 100px;
    background: rgb(255, 255, 255);
    color: rgb(0, 1, 10) ;
}

.form-left h4 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

img {
    width: 30%;
    margin: 0;
}

.form-left .btn-primary {
    margin-top: 80px;
    border-radius: 2rem;
    border: none;
    background: #fff;
    color: rgb(0, 1, 10);
    padding: 10px 20px;
    font-weight: 600;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}
.form-left .btn-primary:hover {
    background: rgb(0, 1, 10);
    color: #fff;
}

.form-right h2{
    padding-top: 10px;
    font-weight: bolder;
    color:  rgb(0, 1, 10) ;
    margin-bottom: 10px;
}
.form-right h5{
    margin-bottom: 50px;
}
.form-right h6{
    font-size: smaller;
    float: right;    
}
.form-right .btn-primary {
    margin-top: 55px;
    border-radius: 2rem;
    border: none;
    background: rgb(0, 1, 10) ;
    font-weight: 600;
    color: #fff;
    padding: 10px 20px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}
.form-right .btn-primary:hover {
    background: #850d1d;
    color: rgb(0, 1, 10) ;
}
.reg{
float:right;
    font-size: 15px;
    line-height: 3rem;
}

.form-right div a{
    text-decoration: underline;
    font-weight: 500;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}
.form-right div a:hover {
    color: #c9c620;
} 
@media screen and (max-width: 411px) {
    body {
        background-color:#d41313;    
    }
    img {
        width: 40%;
    }
    .main {
        margin-top: 50px;
    }
    .form-left{
        margin-top: 0;
        margin-bottom: 40px;
    }
    .form-right {
        margin: 0 20px 50px 20px;
    }
}